<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/ipfs/dist/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="twt">
        <nav>
            <div class="container clearfix">
                <a href="/"><i class="fas fa-home"></i> Home</a>
                <a href="/"><i class="fas fa-bell"></i> Notifications</a>
                <a href="/"><i class="fas fa-envelope"></i> Messages</a>
            </div>
        </nav>
        <div class="container clearfix">
            <div class="left-column">
                <div class="identity clearfix" v-if="!u">
                    <img class="my-avatar" src="avatar.jpg">
                    <div><b>Anonymous</b></div>
                    <div>@ethaddress</div>
                </div>
            </div>
            <div class="feed">
                <div id="form" class="clearfix" v-if="!u">
                    <textarea
                        v-model="message"
                        @focus="hasFocus = true"
                        @blur="hasFocus = false"
                        v-bind:class="{ expanded: message || attachment || hasFocus }"
                        :placeholder="placeholder">
                    </textarea>
                    <input id="file-upload" type="file" v-on:change="previewFile()" v-model="attachment" />
                    <label for="file-upload" class="custom-file-upload pull-left"><i class="fas fa-image"></i></label>
                    <div class="preview-container pull-left"></div>
                    <button
                        class="pull-right"
                        v-on:click="submitPost()"
                        v-if="message || attachment || hasFocus"
                        :disabled="!message && ! attachment">Post</button>
                </div>
                <div id="messages"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>