* {
    box-sizing: border-box;
}

:root {
    --bg-color-light: #fdfbfd;
    --bg-color: #f4f4f6;
    --bg-color-dark: #efeff1;
    --primary-color: #3675a8;
    --primary-color-light: #63a3d6;
    --primary-color-superlight: #b1dcff;
    --text-color: #24292e;
    --text-color-dark: black;
    --text-color-hinted: #d0d0d0;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body, button, div, p, textarea {
    line-height: 24px;
    font-size: 16px;
}

nav {
    background: var(--primary-color);
    min-height: 50px;
}

.container {
    background: white;
    max-width: 640px;
    margin: 0 auto;
}

#messages>div {
    border-bottom: var(--bg-color) solid 1px;
    padding: 12px 12px 12px 70px;
    position: relative;
}

#messages>div:hover {
    background: var(--bg-color-light);
}

#messages .sender {
    color: var(--primary-color);
}

#messages .sender a {
    font-weight: bold;
    color: var(--text-color-dark);
    text-decoration: none;
}

#messages .sender a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

#messages .sender span {
    color: var(--text-color-hinted);
    text-transform: lowercase;
}

#messages .image {
    width: 100%;
    border-radius: 5px;
    margin-top: 12px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    position: absolute;
    left: 12px;
}

.actions {
    margin-top: 12px;
    font-weight: bold;
}

.actions i {
    margin-right: 12px;
}

.actions a {
    color: var(--text-color-hinted);
    opacity: 1;
    padding-right: 50px;
    text-decoration: none;
}

.actions a:hover {
    color: var(--primary-color);
}

#twitter-app {
    background: var(--bg-color-dark);
    border-bottom: var(--bg-color-dark) solid 1px;
    padding: 12px;
}

#twitter-app textarea {
    display: block;
    padding: 8px;
    margin-bottom: 12px;
    border: solid 1px var(--primary-color-light);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    resize: none;
}

#twitter-app textarea:focus {
    border: solid 1px var(--primary-color-light);
    box-shadow: 0 0 0 4px var(--primary-color-superlight);
    /*height: 80px;*/
}

button {
    background: white;
    border: 1px solid var(--primary-color);
    padding: 6px 16px;
    border-radius: 5px;
    color: var(--primary-color);
    float: right;
}

button:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    cursor: pointer;
}