* {
    box-sizing: border-box;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background: #f4f4f6;
    color: #24292e;
    margin: 0;
    font-family: apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
}

body, button, div, p, textarea {
    line-height: 24px;
}

nav {
    background: #3675a8;
    min-height: 50px;
}

.container {
    background: white;
    max-width: 640px;
    margin: 0 auto;
}

#messages>div {
    border-bottom: #f4f4f6 solid 1px;
    padding: 12px 12px 12px 70px;
    position: relative;
}

#messages>div:hover {
    background: #fdfbfb;
}

#messages .sender a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#messages .sender a:hover {
    color: #3675a8;
    text-decoration: underline;
}

#messages .sender span {
    color: #d0d0d0;
    font-family: "Menlo", monospace;
    text-transform: lowercase;
}

#messages .image {
    width: 100%;
    border-radius: 5px;
    margin-top: 12px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    position: absolute;
    left: 12px;
}

.actions {
    margin-top: 12px;
    font-weight: bold;
}

.actions i {
    margin-right: 12px;
}

.actions a {
    color: #d0d0d0;
    opacity: 1;
    padding-right: 50px;
    text-decoration: none;
}

.actions a:hover {
    color: #3675a8;
}

#twitter-app {
    background: #efefef;
    border-bottom: #efefef solid 1px;
    padding: 12px;
}

#twitter-app textarea {
    display: block;
    padding: 8px;
    margin-bottom: 12px;
    border: solid 1px #63a3d6;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    height: 40px;
    resize: none;
}

#twitter-app textarea:focus {
    border: solid 1px #63a3d6;
    box-shadow: 0 0 0 2px #b1dcff;
    /*height: 80px;*/
}

button {
    background: white;
    border: 1px solid #3675a8;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 5px;
    color: #3675a8;
    float: right;
}

button:hover {
    background: #3675a8;
    border: 1px solid #3675a8;
    color: white;
    cursor: pointer;
}